<!-- Add you custom twig html here -->
{# {{items}} #}

<form method="post" action="">
    {{items.form_build_id}}
    {{items.form_id}}
    {{items.form_token}}

    <div class='form'>{{items.fname}}</div>
    <div class='form'>{{items.lname}}</div>
    <div class='form'>{{items.gender}}</div>
    <div class='form'>{{items.about_employee}}</div>
    <div class='form'>{{items.save}}</div>
</form>